<!-- this view corresponds to the UsersController, index action -->

<%#= content_tag :h2, "Our Users" %>
<%= headline "Our Users" %>

Color: <%= @colors[1] %>

Our Captain Says: <%= link_to 'http://pirates.com' do 
  talk_like_a_pirate 
end %>

<!-- loops thru each user and display their first and last name -->


<ul>
  <% @users.each do |u| %>
    <%= user_div u %>
  <% end %>
</ul>
<hr />
<ul>
  <% @users.each do |u| %>
    <li>
      <!-- displays user first name -->
      <strong>Fname</strong>: <%= u.fname %>

      <!-- displays user last name -->
      <strong>Lname</strong>: <%= u.lname %>

      <!-- diplays a link to the users show page -->
      <!--
        when clicking this link, this will create
          a GET request to the /users/:id url
          which corresponds to the the UsersController, show action
      -->
      <%= link_to("Show", user_path(u)) %>
      <%= link_to("Delete", user_path(u), method: :delete) %>
    </li>
  <% end %>
</ul>
